*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: century gothic;
}
body{
    background-image: url(./images/bg.png);
    background-position: center;
    background-size: cover;
}
main{
    width: fit-content;
    height: fit-content;
    background-image: linear-gradient(#cd84f1,#7158e2);
    padding: 5px;
    border-radius: 15px;
    margin: 10px auto;
    box-shadow: 0 5px 10px 2px #252525;

}
.container{
    width: 800px;
    height: 575px;
    border: 1px solid black;
    padding: 25px 40px 20px;
    border-radius: 15px;
    background-image: url(./images/bg2.png);
    background-position: center;
    background-size: cover;
}
.start-btn{
    width: 150px;
    color: black;
    background-image: linear-gradient(#cd84f1,#7158e2);
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin-left: 280px;
    margin-top: 230px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #252525;
}
.start-btn:hover{
    background-image: linear-gradient(#7158e2,#cd84f1);
    cursor: pointer;
}
header{
    width: 720px;
    height: 120px;
    background-image: linear-gradient(#cd84f1,#7158e2);
    box-shadow: 0 0 5px 2px #252525;
    margin: 0 auto;
    color: black;
    border-radius: 10px;
}
h1{
    text-align: center;
    padding: 15px;
}
header>div{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
#question-number{
    width: 27%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
#score{
    width: 20%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
h2{
    margin: 15px 0 8px;
}
.option-btn,.option-btn,.option-btn,.option-btn{
    width: 720px;
    height: 50px;
    background-image: linear-gradient(#cd84f1,#7158e2);
    font-size: 23px;
    padding: 13px;
    margin: 10px auto;
    text-align: left;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #252525;
}
.option-btn:hover,.option-btn:hover,.option-btn:hover,.option-btn:hover{
    background-image: linear-gradient(#7158e2,#cd84f1);
    cursor: pointer;

}
#btn{
    width: 150px;
    color: black;
    background-image: linear-gradient(#cd84f1,#7158e2);
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin-left: 280px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #252525;
}
#btn:hover{
    background-image: linear-gradient(#7158e2,#cd84f1);
    cursor: pointer;
}
.restart-btn{
    width: 150px;
    color: black;
    background-image: linear-gradient(#cd84f1,#7158e2);
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin-left: 280px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #252525;
}
.restart-btn:hover{
    background-image: linear-gradient(#7158e2,#cd84f1);
    cursor: pointer;
}
.hide{
    display: none;
}
.right{
    width: 720px;
    height: 50px;
    font-size: 23px;
    padding: 13px;
    margin: 10px auto;
    text-align: left;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #252525;
    background-color: #2ecc71;
}
.wrong{
    width: 720px;
    height: 50px;
    font-size: 23px;
    padding: 13px;
    margin: 10px auto;
    text-align: left;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #252525;
    background-color: #e74c3c;
}